//! Color
$color_text_h1: white;
$color_text_button: white;
$color_text_nav_top: white;
$color_background_button: #01acac;
$color_background_post: #efefef;
$color_post_description: red;
$color_border_input: #607d8b;
$color_text_input: #607dbb;

//! Size
$padding_button: 20px 80px;
$button_border_radius: 2px;
$margin_left_nav_top: 50px;
$border_post_after_date: 2px solid gray;

//! Font
$font_size_nav_size: 18px;
$font_family_nav_top: 'Noto Sans KR', sans-serif;
$font_family_input: 'Noto Sans KR', sans-serif;
$font_family_about: 'Noto Sans JP', sans-serif;
$font_family_post: 'Noto Sans JP', sans-serif;
$font_family_h1_h4_contact: 'Noto Sans JP', sans-serif;